.card {
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  margin: 0 auto 16px;
}

.card-img {
  object-fit:cover;
  border-radius: 4px;
  height: var(--card-height);
  width: 125px;
}

.card-date {
  font-size: 10px;
  margin: 4px auto;
}

.card-title {
  font-size: 18px;
  margin: var(--card-text-margin);
}

.card-location {
  margin: var(--card-text-margin);
  font-size: 10px;
  color: grey;
  font-weight: 200;
  letter-spacing: 3px;
}

.card-desc {
  margin: var(--card-text-margin);
  font-size: 10px;
}

.card-info {
  overflow: hidden;
  height: calc(var(--card-height) - 4px);
}
