.input-wrapper {
  gap: 20px;
  grid-template: 30px 40px / 1fr 1fr;
  display: grid;
  padding: 8px;
  justify-content: center;
  text-align: center;
  justify-content: center;
}

.input-wrapper > input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 1px 6px;
}

.meme-btn {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 14px;
  border: none;
  grid-column: 1 / -1;
  align-self: center;
  border-radius: 2px;
}

.meme-wrapper {
  grid-column: 1 / -1;
  align-self: center;
  position: relative;
}

.meme-img {
  width: 100%;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
